.App {
  text-align: center;
}

.App-header {
  background-image: url('https://images.pexels.com/photos/1624438/pexels-photo-1624438.jpeg');
  background-position: center;
  background-size: cover;
  color: white;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}
