body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 15%,
    rgba(9, 9, 121, 1) 62%,
    rgba(0, 212, 255, 1) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700,900');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  font-family: 'Work Sans', sans-serif;
  user-select: none;
  text-align: center;
}

.buttons {
  vertical-align: top;
  max-width: 30em;
  margin: 0 auto;
}

h1 {
  font-size: 2.8em;
  font-weight: 800;
  white-space: pre;
  line-height: 0.85;
  color: #999;
}

hr {
  margin: 0 0 2em;
  border: 0;
}

button {
  font-family: 'Work Sans', sans-serif;
  display: inline-block;
  border: 0;
  background: #bab9b9;
  color: #6c7073;
  font-weight: 600;
  border-radius: 2em;
  width: 2em;
  height: 2em;
  font-size: 2em;
  outline: none;
  border-bottom: 0.15em solid rgba(0, 0, 0, 0.5);
}
.buttons {
  margin-top: 50px;
}

button.active,
button:active {
  border-bottom: 0.15em solid transparent;
  transform: scale(0.9);
}

.button-circle {
  color: #fff;
}

.button-bar {
  width: 7em;
  font-size: 1.3em;
}

button .arrow {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  font-size: 0.35em;
  line-height: 0;
  border-color: rgba(0, 0, 0, 0.5);
  border: 0 solid transparent;
  color: inherit;
}
button .arrow-left {
  border-right-color: #999;
  border-right-width: 1em;
  border-bottom-width: 1em;
  border-top-width: 1em;
  margin-left: -0.25em;
}
button .arrow-right {
  border-left-color: #999;
  border-left-width: 1em;
  border-bottom-width: 1em;
  border-top-width: 1em;
  margin-right: -0.25em;
}
button .arrow-up {
  border-bottom-color: #999;
  border-bottom-width: 1em;
  border-left-width: 1em;
  border-right-width: 1em;
  margin-top: -0.25em;
}
button .arrow-down {
  border-top-color: #999;
  border-top-width: 1em;
  border-left-width: 1em;
  border-right-width: 1em;
  margin-bottom: -0.25em;
}
.button-axes {
  width: 49%;
}
.axes-U {
  width: 52%;
}
.axes-D {
  width: 52%;
}

.side-menu {
  width: 10%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(105, 100, 100, 1) 15%,
    rgba(207, 207, 207, 1) 62%,
    rgba(255, 255, 255, 1) 100%
  );
}
.players {
  margin: 0;
  width: 10%;
  background: linear-gradient(
    90deg,
    rgba(105, 100, 100, 1) 15%,
    rgba(207, 207, 207, 1) 62%,
    rgba(255, 255, 255, 1) 100%
  );
  height: 100%;
}
.map {
  border-right: 2px solid rgb(0, 0, 0);
  border-left: 2px solid rgb(0, 0, 0);
  background-image: url('https://torange.biz/photofx/19/8/image-profile-picture-old-paper-texture-19023.jpg');
}
